<ul class="dropdown-menu">
    <li>
        <a title="用于生产环境的安装包" data-toggle="tooltip" href="/Cms_Data/Sites/Kooboo/Files/packages/Kooboo_CMS.zip">Kooboo_CMS</a>
    </li>
    <li><a title="用于Azure环境的安装包" data-toggle="tooltip" href="/Cms_Data/Sites/Kooboo/Files/packages/Kooboo_CMS_Azure.zip">Kooboo_CMS_Azure</a></li>
    <li class="divider"></li>
    <li><a title="将内容存储到数据库的拓展包" data-toggle="tooltip" href="/Cms_Data/Sites/Kooboo/Files/packages/Content_Providers.zip">Content_Providers</a></li>
    <li><a title="将站点信息存储到数据库的拓展包" data-toggle="tooltip" href="/Cms_Data/Sites/Kooboo/Files/packages/Site_Providers.zip">Site_Providers</a></li>
    <li><a title="将后台账户存储到数据库的拓展包" data-toggle="tooltip" href="/Cms_Data/Sites/Kooboo/Files/packages/Account_Providers.zip">Account_Providers</a></li>
    <li><a title="将会员信息储到数据库的拓展包" data-toggle="tooltip" href="/Cms_Data/Sites/Kooboo/Files/packages/Membership_Providers.zip">Membership_Providers</a></li>
    <li class="divider"></li>
    <li><a title="用于多服务器环境统一的一份媒体文件存储" data-toggle="tooltip" href="/Cms_Data/Sites/Kooboo/Files/packages/FileServer_Web.zip">FileServer_Web</a></li>
    <li><a title="用于搭建多服务器负载均衡时的缓存同步" data-toggle="tooltip" href="/Cms_Data/Sites/Kooboo/Files/packages/Caching_Sync.zip">Caching_Sync</a></li>
    <li><a title="提供更多视图引擎的支持" data-toggle="tooltip" href="/Cms_Data/Sites/Kooboo/Files/packages/Template_Engines.zip">Template_Engines</a></li>
</ul>