<div class="blog-catalog sidebar-module sidebar-module-inset" id="catalog">
    <h4>文章栏目</h4>
    <ol class="list-unstyled">
        @foreach (var item in ViewBag.Catalogs)
        {
            <li @ViewHelper.Edit(item)>
                @Html.FrontHtml().PageLink(item.Name, "Catalogs", new { UserKey = item.UserKey })
            </li>
        }
    </ol>
</div>
