<div class="blog-masthead navbar navbar-fixed-top">
    <div class="container">
        <a href="@Url.FrontUrl().PageUrl("Home")" class="pull-left logo"><img src="@Url.FrontUrl().FileUrl("logo.png")" alt="@("Kooboo Blog".RawLabel("SiteName","Common"))" /></a>
        <nav class="blog-nav pull-right">
            @foreach (var item in MenuHelper.Top().Where(it => it.Navigation.Show))
            {
                @Html.FrontHtml().PageLink(item.LinkText, item.FullName, null, new { @class = MenuHelper.IsCurrent(item) ? "blog-nav-item active" : "blog-nav-item" })
            }
        </nav>
    </div>
</div>
