<div class="inner">
    <h1>
        <a href="@Url.FrontUrl().PageUrl("Article")">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/logo.png")" alt="@("Logo".RawLabel("logo","Header"))" />
        </a>
    </h1>
    <h2>@("kooboo techonlogy blog".Label("SubTitle", "Header"))</h2>
    <a href="https://github.com/Tsingbo-Kooboo" class="button"><small>Follow me on</small>GitHub</a>
</div>